  <edm:ProvidedCHO rdf:about="${about}">
    <dc:date>${date}</dc:date>
    <dc:subject xml:lang="en">${title}</dc:subject>
    <dc:description xml:lang="en">${description}</dc:description>
    <dc:provenance xml:lang="en">${provenance}</dc:provenance>
    <dc:identifier>${identifier}</dc:identifier>
    ${geo_inset}
    <dc:title xml:lang="en">$title</dc:title>
     ${resources}
    <edm:type>${edm_type}</edm:type>
  </edm:ProvidedCHO>