<ore:Aggregation rdf:about="$about">
  <edm:aggregatedCHO rdf:resource="$resource_id"/>
  <edm:dataProvider>Ure Museum of Classical Archaeology</edm:dataProvider> 
  <edm:provider>Collections Trust</edm:provider>
   $has_views
  <edm:isShownAt rdf:resource="$is_shown_at"/> 
  <edm:isShownBy rdf:resource="$is_shown_by"/> 
  <edm:object rdf:resource="$is_shown_by"/>
  <edm:rights rdf:resource="${license}"/>
</ore:Aggregation> 
